<div>
  <ng-container *ngIf="rate ==0">
    <mat-icon [ngClass]="label" fontIcon="star_outline"></mat-icon>
  </ng-container>
  <ng-container *ngIf="rate ==1">
    <mat-icon [ngClass]="label" fontIcon="star_half"></mat-icon>
  </ng-container>
  <ng-container *ngIf="rate >=2">
    <mat-icon [ngClass]="label" fontIcon="star"></mat-icon>
  </ng-container>

  <ng-container *ngIf="rate <=2">
    <mat-icon [ngClass]="label" fontIcon="star_outline"></mat-icon>
  </ng-container>
  <ng-container *ngIf="rate ==3">
    <mat-icon [ngClass]="label" fontIcon="star_half"></mat-icon>
  </ng-container>
  <ng-container *ngIf="rate >=4">
    <mat-icon [ngClass]="label" fontIcon="star"></mat-icon>
  </ng-container>

  <ng-container *ngIf="rate <=4">
    <mat-icon [ngClass]="label" fontIcon="star_outline"></mat-icon>
  </ng-container>
  <ng-container *ngIf="rate ==5">
    <mat-icon [ngClass]="label" fontIcon="star_half"></mat-icon>
  </ng-container>
  <ng-container *ngIf="rate >=6">
    <mat-icon [ngClass]="label" fontIcon="star"></mat-icon>
  </ng-container>

  <ng-container *ngIf="rate <=6">
    <mat-icon [ngClass]="label" fontIcon="star_outline"></mat-icon>
  </ng-container>
  <ng-container *ngIf="rate ==7">
    <mat-icon [ngClass]="label" fontIcon="star_half"></mat-icon>
  </ng-container>
  <ng-container *ngIf="rate >=8">
    <mat-icon [ngClass]="label" fontIcon="star"></mat-icon>
  </ng-container>

  <ng-container *ngIf="rate <=8">
    <mat-icon [ngClass]="label" fontIcon="star_outline"></mat-icon>
  </ng-container>
  <ng-container *ngIf="rate ==9">
    <mat-icon [ngClass]="label" fontIcon="star_half"></mat-icon>
  </ng-container>
  <ng-container *ngIf="rate >=10">
    <mat-icon [ngClass]="label" fontIcon="star"></mat-icon>
  </ng-container>
</div>
